<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

</head>

<body>

  <nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">KZ</a>
    </div>
  </nav>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>

      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Log</label>
      </div>

      <br><br>

      <div class="input-field col s6">
          <input placeholder="Potential action" id="texts" type="text" class="validate">
          <label for="texts"></label>
        </div>

      <div class="row center">
        <a id="download-button" onclick="submit()" class="btn-large waves-effect waves-light yellow grey-text text-darken-2">Submit</a>
      </div>
      <br><br>

      <div class="row">
    <div class="col s12 m12">
      <div class="card pink darken-2">
        <div class="card-content white-text">
          <span class="card-title" style="text-decoration:underline">Results</span>
          <p  style="white-space: pre-line" id="results">Press submit to get your analysis!</p>
        </div>
      </div>
    </div>
  </div>
    </div>
  </div>

  <footer class="page-footer indigo darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Made with ♡ by Team KZ</h5>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       <a class="orange-text text-lighten-3" href="#">Team KZ</a>
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

  <script>

  function submit() {
    var log = document.getElementById('textarea1').value;
    var action = document.getElementById('texts').value;
    predict(log, action);
  }

    function predict(log, action) {
      axios.get('/predict', {
    params: {
      log: log,
      action: action
    }
  })
  .then(function (response) {
    console.log(response.data);
    document.getElementById('results').innerHTML = response.data;
  })
  .catch(function (error) {
    console.log(error);
  });
    }

  </script>

  </body>
</html>
